.dashboard-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: rgb(35, 104, 160);
}

.automobile-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.automobile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  padding: 20px;
}

.automobile-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  position: relative;
  height: 200px;
}

.automobile-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.placeholder-image {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.card-details {
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  /* margin: 10px 0; */
  font-weight: bold;
}

.price {
  font-size: 1.2rem;
  color: #555;
}

.description {
  font-size: 1rem;
  color: #777;
  margin: 10px 0;
}

.rating {
  font-size: 1.1rem;
  color: #888;
}

@media (max-width: 1200px) {
  .automobile-categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .automobile-categories {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 2rem;
  }

  .automobile-card {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .automobile-categories {
    grid-template-columns: 1fr;
  }
}
